<h1>{{title}}</h1>
<h3> This is User's details </h3>

<h4>{{foundUser.user}} {{foundUser.lastName}}</h4>
<p>City: {{foundUser.city}}</p>
<p> Zipcode: {{foundUser.zipCode}}  </p>
<p> Favorite Food: {{foundUser.favoriteFood}} </p>
<p> Morning or Night Person: {{ foundUser.morningOrNightPerson}}</p>

 <a href="/users"> Back to users </a>
 